<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/sso.ashx"/>
      <add url="~/sso" mappedUrl="~/sso.ashx"/>
      <add url="~/login" mappedUrl="~/sso.ashx"/>
      <add url="~/logout" mappedUrl="~/sso.ashx"/>
      <add url="~/validate" mappedUrl="~/sso.ashx"/>
      <add url="~/delete-session" mappedUrl="~/sso.ashx"/>
    </urlMappings>
  </system.web>
  <appSettings>
    <add key="SiteKeyAndSecrets" value="java-client.net|key1|secret1,php-client.cn|key2|secret2"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
      <authentication>
        <anonymousAuthentication enabled="true"/>
      </authentication>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>